In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import os
import tensorflow.keras.callbacks
from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_replace = list(counts[counts<100].index)
application_types_replace

['T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [6]:
# Replace in dataframe
for app in application_types_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification = application_df["CLASSIFICATION"].value_counts()
classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_classification = classification[classification>1]
counts_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification[classification<150].index)

In [10]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [11]:
# Identify the datatypes of the columns
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_df = pd.get_dummies(application_df)
numeric_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
X = numeric_df.drop("IS_SUCCESSFUL", axis=1)
y = numeric_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

# Size of data
input_features = X_train_scaled.shape[1]
print("Input Features:",input_features)

# Size of the output layer 
output_layer_size = 1
print("Output Layer Size:",output_layer_size)
 
# The number of hidden neurons  
hidden_nodes_1 = (input_features * 2) - 1
print("Hidden nodes in layer 1:", hidden_nodes_1)

# The number of hidden neurons  
hidden_nodes_2 = (input_features * 2) - 1
print("Hidden nodes in layer 2:", hidden_nodes_2)

# The number of hidden neurons
nodes_3 = input_features * (2/3)
hidden_nodes_3 = round(nodes_3,0) + output_layer_size
print("Hidden nodes in layer 3:", int(hidden_nodes_3))

Input Features: 47
Output Layer Size: 1
Hidden nodes in layer 1: 93
Hidden nodes in layer 2: 93
Hidden nodes in layer 3: 32

In [16]:
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_1, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=output_layer_size, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 93)                4464

 dense_1 (Dense)             (None, 93)                8742

 dense_2 (Dense)             (None, 32)                3008

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 16,247
Trainable params: 16,247
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Create a callback 
# Define checkpoints variables

os.makedirs('checkpoints/', exist_ok=True)
checkpoint_paths = 'checkpoints/weights.{epoch}.hdf5'
 
cp_callback = ModelCheckpoint(filepath=checkpoint_paths,
                              verbose=1,
                              save_weights_only=True,
                              save_freq='epoch',
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [19]:
# Train the model
model_fitting = nn.fit(X_train_scaled, y_train, epochs=100, callbacks = [cp_callback])

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5678 - accuracy: 0.7220
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5547 - accuracy: 0.7278
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5512 - accuracy: 0.7298
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5496 - accuracy: 0.7304
Epoch 5/100
798/804 [============================>.] - ETA: 0s - loss: 0.5475 - accuracy: 0.7319
Epoch 5: saving model to checkpoints/weights.5.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7318
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7316
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7325
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7340
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7354
Epoch 10/100
803/804 [============================>.] - ETA: 0s - loss: 0.5441 - accuracy: 0.7354
Epoch 10: saving model to checkpoints/weights.10.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7354
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7343
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7356
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7361
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7359
Epoch 15/100
796/804 [============================>.] - ETA: 0s - loss: 0.5414 - accuracy: 0.7360
Epoch 15: saving model to checkpoints/weights.15.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7358
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7369
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7372
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7369
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7364
Epoch 20/100
790/804 [============================>.] - ETA: 0s - loss: 0.5395 - accuracy: 0.7373
Epoch 20: saving model to checkpoints/weights.20.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7376
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7382
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7374
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7383
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7381
Epoch 25/100
790/804 [============================>.] - ETA: 0s - loss: 0.5383 - accuracy: 0.7379
Epoch 25: saving model to checkpoints/weights.25.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7378
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7377
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7382
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7374
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7392
Epoch 30/100
798/804 [============================>.] - ETA: 0s - loss: 0.5367 - accuracy: 0.7393
Epoch 30: saving model to checkpoints/weights.30.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7394
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7386
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7380
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7393
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7388
Epoch 35/100
798/804 [============================>.] - ETA: 0s - loss: 0.5365 - accuracy: 0.7386
Epoch 35: saving model to checkpoints/weights.35.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7386
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7392
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7397
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7402
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7397
Epoch 40/100
802/804 [============================>.] - ETA: 0s - loss: 0.5346 - accuracy: 0.7396
Epoch 40: saving model to checkpoints/weights.40.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7397
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7390
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7398
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7394
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7400
Epoch 45/100
786/804 [============================>.] - ETA: 0s - loss: 0.5334 - accuracy: 0.7401
Epoch 45: saving model to checkpoints/weights.45.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7397
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7399
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7395
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7394
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7399
Epoch 50/100
784/804 [============================>.] - ETA: 0s - loss: 0.5329 - accuracy: 0.7404
Epoch 50: saving model to checkpoints/weights.50.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7397
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7403
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7396
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7405
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7396
Epoch 55/100
798/804 [============================>.] - ETA: 0s - loss: 0.5332 - accuracy: 0.7396
Epoch 55: saving model to checkpoints/weights.55.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7398
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7401
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7411
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7403
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7405
Epoch 60/100
783/804 [============================>.] - ETA: 0s - loss: 0.5326 - accuracy: 0.7408
Epoch 60: saving model to checkpoints/weights.60.hdf5
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7407
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7409
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7412
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7410
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7409
Epoch 65/100
789/804 [============================>.] - ETA: 0s - loss: 0.5322 - accuracy: 0.7408
Epoch 65: saving model to checkpoints/weights.65.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7409
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7412
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7413
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7409
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7406
Epoch 70/100
774/804 [===========================>..] - ETA: 0s - loss: 0.5330 - accuracy: 0.7403
Epoch 70: saving model to checkpoints/weights.70.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7409
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7406
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7414
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7411
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7409
Epoch 75/100
802/804 [============================>.] - ETA: 0s - loss: 0.5321 - accuracy: 0.7406
Epoch 75: saving model to checkpoints/weights.75.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7407
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5315 - accuracy: 0.7413
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7412
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7415
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7412
Epoch 80/100
803/804 [============================>.] - ETA: 0s - loss: 0.5311 - accuracy: 0.7413
Epoch 80: saving model to checkpoints/weights.80.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5310 - accuracy: 0.7414
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7411
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5305 - accuracy: 0.7415
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7414
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.7416
Epoch 85/100
770/804 [===========================>..] - ETA: 0s - loss: 0.5305 - accuracy: 0.7420
Epoch 85: saving model to checkpoints/weights.85.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7419
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7409
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7413
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7415
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7413
Epoch 90/100
775/804 [===========================>..] - ETA: 0s - loss: 0.5306 - accuracy: 0.7404
Epoch 90: saving model to checkpoints/weights.90.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7411
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7413
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7424
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5300 - accuracy: 0.7417
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7419
Epoch 95/100
801/804 [============================>.] - ETA: 0s - loss: 0.5299 - accuracy: 0.7414
Epoch 95: saving model to checkpoints/weights.95.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5297 - accuracy: 0.7414
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7412
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5300 - accuracy: 0.7416
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5302 - accuracy: 0.7423
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7416
Epoch 100/100
784/804 [============================>.] - ETA: 0s - loss: 0.5289 - accuracy: 0.7429
Epoch 100: saving model to checkpoints/weights.100.hdf5
804/804 [==============================] - 1s 2ms/step - loss: 0.5294 - accuracy: 0.7423

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5811 - accuracy: 0.7308 - 380ms/epoch - 1ms/step
Loss: 0.581087589263916, Accuracy: 0.7308454513549805

In [21]:
# Export our model to HDF5 file
nn.save('ASC_2.h5')